apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
spec:
  project: platform
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  source:
    chart: cilium
    repoURL: https://helm.cilium.io/
    targetRevision: 1.15.5
    helm:
      valueFiles:
        - ../../values/cilium-values.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
