apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: monitoring
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    chart: loki
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 5.41.5
    helm:
      valueFiles:
        - ../../values/loki-values.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
