apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo
  namespace: argocd
spec:
  project: monitoring
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    chart: tempo
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 1.10.2
    helm:
      valueFiles:
        - ../../values/tempo-values.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
