apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: material-science-backend
  namespace: material-science
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: material-science-backend
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Pods
      pods:
        metric:
          name: kernel_latency_seconds
        target:
          type: AverageValue
          averageValue: 0.5

